{{page-title "Comments"}}

<GeneralContainer>
  <HomeNavigation></HomeNavigation>
  <h1 class="text-center m-4">What our clients say</h1>

  {{!-- Contenedor de las tarjetas --}}
  {{!-- Se utiliza el hook de did-insert para recargar los comentarios del controlador con los del servicio --}}
  <div id="cardContainer" {{did-insert this.reloadComments}}>
    <div id="cardRow" class="row">
      {{!-- Se cargan los comentarios en cards con su informacion --}}
      {{#each this.coments as |comment index|}}
        <div id="card" class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card-body">
            <h5 id="cardTitle" class="card-title">
              <i class="bi bi-person mx-2"></i> {{comment.clientName}}
            </h5>
            <h6 id="cardSubtitle" class="card-subtitle mb-2 text-body-secondary">
              Date: {{comment.date}}
            </h6>
            <p id="cardText" class="card-text bg-light">
              {{comment.clientComment}}
            </p>
            {{!-- Se indica el id de contenedor de las estrellas del comentario
            para llamar a la funcion encargada de colocar los iconos de bootstrap segun la calificacion que el usuario le dio --}}
            <div id={{concat "stars-" comment.email "-" index}} {{did-insert (fn this.generateStars (concat "stars-" comment.email "-" index) comment.clientQualification)}}></div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</GeneralContainer>